<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Manager</title>
        <link href="/css/output.css" rel="stylesheet" />
        <script>
            if ( localStorage.getItem('color-theme') === 'dark' ||
            (!('color-theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches) ) {
            document.documentElement.classList.add('dark'); } else {
            document.documentElement.classList.remove('dark'); }
        </script>
    </head>

    <body class="dark:bg-gray-900">
        {{{body}}}
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"
        ></script>
        <script
            src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"
        ></script>
        <script src="/js/script.js"></script>
    </body>

</html>