<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Manager</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

        <script>
            if ( localStorage.getItem('color-theme') === 'dark' ||
            (!('color-theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches) ) {
            document.documentElement.classList.add('dark'); } else {
            document.documentElement.classList.remove('dark'); }
        </script>
    </head>

    <body class="dark:bg-gray-900">
        <script src="/js/css.bundle.js"></script>
        {{{body}}}
        <script src="/js/js.bundle.js"></script>
        <script src="/js/functions.js"></script>
    </body>
</html>